body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:45px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18805 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18806 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u18807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18807 {
  position:absolute;
  left:25px;
  top:2px;
  width:18px;
  height:18px;
  text-align:left;
}
#u18808 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18810 {
  position:absolute;
  left:0px;
  top:38px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18811 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u18812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18812 {
  position:absolute;
  left:2px;
  top:40px;
  width:18px;
  height:18px;
  text-align:left;
}
#u18813 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u18815 {
  position:absolute;
  left:0px;
  top:78px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u18816 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u18817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18817 {
  position:absolute;
  left:25px;
  top:80px;
  width:18px;
  height:18px;
  text-align:left;
}
#u18818 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18821 {
  position:absolute;
  left:0px;
  top:116px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u18822 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18823 {
  position:absolute;
  left:25px;
  top:118px;
  width:18px;
  height:18px;
  text-align:left;
}
#u18824 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18825 {
  position:absolute;
  left:10px;
  top:122px;
  width:10px;
  height:10px;
}
#u18826 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18829 {
  position:absolute;
  left:0px;
  top:155px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u18830 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18831 {
  position:absolute;
  left:2px;
  top:157px;
  width:18px;
  height:18px;
  text-align:left;
}
#u18832 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18833 {
  position:absolute;
  left:26px;
  top:161px;
  width:10px;
  height:10px;
}
#u18834 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
